@layer components {
  .vi__container {
    @apply !w-full flex justify-between !h-[50px] !gap-0;
  }
  .character {
    @apply rounded-md !text-sm font-bold flex justify-center items-center;
    border-color: transparent !important;
    background-color: var(--color-secondary) !important;
    height: 50px !important;
    width: 50px !important;
    max-height: 50px !important;
    max-width: 50px !important;
  }

  .characterSelected {
    border-color: var(--color-primary) !important;
    outline: none !important;
  }

  .characterFilled {
    @apply !text-text1;
  }
}

@layer utilities {
  .tabs-box {
    --color-base-200: var(--color-secondary);
    --tab-height: 32px;
    box-shadow: none;

    .tab {
      --tab-bg: var(--color-primary);
      font-weight: 700;
    }

    > :is(input:checked, .tab-active) {
      color: var(--color-white);
    }

    > :not(input:checked, .tab-active) {
      color: var(--color-black);
    }
  }

  .input {
    --input-color: var(--color-accent);
    &:focus,
    &:focus-within {
      --input-color: var(--color-primary);
      outline: none;
      outline-offset: 0;
    }
  }

  .checkbox {
    border-radius: 2px;
  }

  .btn-link {
    @apply no-underline h-auto leading-none px-0;
    > :is(.btn-active, :hover, :active:focus, :focus-visible) {
      @apply no-underline;
    }
  }
}

@utility drawer-bottom {
  &.drawer {
    @apply static;
  }

  > .drawer-toggle ~ .drawer-side {
    @apply absolute bottom-0 top-auto z-50;

    :not(.drawer-overlay) {
      @apply translate-y-[100%];
    }
  }

  > .drawer-toggle:checked ~ .drawer-side {
    :not(.drawer-overlay) {
      @apply translate-y-0;
    }
  }
}
