@layer components {
  .vi__container {
    @apply !w-full flex justify-between !h-[50px] !gap-0;
  }
  .character {
    @apply rounded-md !text-sm font-bold flex justify-center items-center;
    width: 50px !important;
    max-width: 50px !important;
    height: 50px !important;
    max-height: 50px !important;
    background-color: var(--color-secondary) !important;
    border-color: transparent !important;
  }

  .characterSelected {
    border-color: var(--color-primary) !important;
    outline: none !important;
  }

  .characterFilled {
    @apply !text-text1;
  }
}

@layer utilities {
  .tabs-box {
    --color-base-200: var(--color-secondary);
    --tab-height: 32px;
    box-shadow: none;

    .tab {
      --tab-p: 0;
      --tab-bg: var(--color-primary);
      font-weight: 700;
    }

    > :is(input:checked, .tab-active) {
      color: var(--color-white);
    }

    > :not(input:checked, .tab-active) {
      color: var(--color-black);
    }
  }

  .input {
    --input-color: var(--color-border1);
    background-color: var(--color-white);
    &:focus,
    &:focus-within {
      --input-color: var(--color-primary);
      outline: none;
      outline-offset: 0;
    }
  }

  .checkbox {
    border-radius: 2px;
  }

  .btn {
    border-radius: 8px;
  }

  .btn-link {
    @apply no-underline h-auto leading-none px-0;
    > :is(.btn-active, :hover, :active:focus, :focus-visible) {
      @apply no-underline;
    }
  }
  .btn:is(:disabled, [disabled], .btn-disabled):not(.btn-link, .btn-ghost) {
    color: var(--color-white);
    background: #d4bfff;
  }

  .btn-outline {
    border-color: var(--color-border1);
  }

  .btn-neutral {
    color: var(--color-white);
    background-color: var(--color-black);
  }

  .btn-gradient {
    color: var(--color-white);
    font-size: 16px;
    background: linear-gradient(90deg, #a93aff 0%, #6e2afe 100%);
    border: none;
    box-shadow: none;
  }

  .modal-toggle:checked + .modal {
    background: rgba(0, 0, 0, 0.8);
  }

  .steps .step:before {
    height: 2px;
  }
  .steps .step > .step-icon,
  .steps .step:not(:has(.step-icon)):after {
    width: 24px;
    height: 24px;
  }

  .divider:before,
  .divider:after {
    height: 1px;
  }

  .checkbox-neutral {
    color: var(--color-text1);
    background-color: none;
    border-radius: 4px;
  }
  .checkbox:checked,
  .checkbox[aria-checked="true"] {
    background: none !important;
  }

  .progress-gradient::-webkit-progress-value {
    background: var(--color-gradient2);
    border-radius: 0;
  }
}

@utility drawer-bottom {
  &.drawer {
    @apply static;
  }

  > .drawer-toggle ~ .drawer-side {
    @apply absolute bottom-0 top-auto z-50;

    :not(.drawer-overlay) {
      @apply translate-y-[100%];
    }
  }

  > .drawer-toggle:checked ~ .drawer-side {
    :not(.drawer-overlay) {
      @apply translate-y-0;
    }
  }
}

@utility progress-gradient1 {
  color: var(--color-gradient1);
}
