/* custom color */
@theme {
  /*color*/
  --color-green1: #28C76F;
  --color-green2: #B1FFD4; 
  --color-gradient1: linear-gradient(144.01deg, #A845FF 17.47%, #731BFF 57.89%, #3400F2 100%);

  /* var */
  --color-op-primary: var(--color-primary);
  --color-op-secondary: var(--color-green1);
  --color-op-accent: var(--color-green2);
  --color-border-primary: var(--color-primary);
  --color-text1: #323232;
  --color-text2: #9D95B5;
  --color-text-tip: var(--color-primary);


  /*utils*/
  --spacing-content: 0.875rem;
  --text-h1: 28px;
  --text-h1--line-height: 36px;
  --text-h1--font-weight: 600;
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: oklch(20% 0.042 265.755);
  --color-neutral: oklch(27% 0.041 260.031);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 2rem;
  --radius-field: 6px;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;

  /* custom */
  --color-primary: #892CFF;
  --color-primary-content: var(--color-white);
  --color-secondary: #F3F1FF;
  --color-secondary-content: #323232;
  --color-accent: rgba(162, 89, 255, 0.5);
  --color-accent-content: var(--color-white);

}



html, body {
  color: var(--color-text1);
  background-color: var(--color-white);
}
