/* custom color */
@theme {
  /*color*/
  --color-green1: #28c76f;
  --color-green2: #b1ffd4;
  --color-gradient1: linear-gradient(
    144.01deg,
    #a845ff 17.47%,
    #731bff 57.89%,
    #3400f2 100%
  );

  /* var */
  --color-op-primary: var(--color-primary);
  --color-op-secondary: var(--color-green1);
  --color-op-accent: var(--color-green2);
  --color-border-primary: var(--color-primary);
  --color-text1: #323232;
  --color-text2: #9d95b5;
  --color-text-tip: var(--color-primary);
  --color-rise: #43b067;
  --color-fall: #fd4141;
  --color-bg-color2: #f6f7fd;

  /*utils*/
  --spacing-content: 0.875rem;
  --text-h1: 28px;
  --text-h1--line-height: 36px;
  --text-h1--font-weight: 600;
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: oklch(20% 0.042 265.755);
  --color-neutral: oklch(27% 0.041 260.031);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(82% .189 84.429);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 2rem;
  --radius-field: 6px;
  --radius-box: 2rem;
  /* --size-selector: 0.25rem; */
  --size-selector: 0.1875rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;

  /* custom */
  --color-primary: #892cff;
  --color-primary-content: var(--color-white);
  --color-secondary: #f3f1ff;
  --color-secondary-content: #323232;
  --color-accent: rgba(162, 89, 255, 0.5);
  --color-accent-content: var(--color-white);
  --color-error: var(--color-fall);
}

html,
body {
  color: var(--color-text1);
  background-color: var(--color-white);
  @apply no-scrollbar;
}

.layout {
  background-color: var(--color-white);
}
