/* custom color */
@theme {
  /*color*/
  --color-green1: #28c76f;
  --color-green2: #b1ffd4;
  --color-gradient1: linear-gradient(
    144.01deg,
    #a845ff 17.47%,
    #731bff 57.89%,
    #3400f2 100%
  );
  --color-gradient2: linear-gradient(90deg, #6e2afe 0%, #a93aff 100%);
  --color-gradient3: linear-gradient(135deg, #FFFFFF 0%, #F2ECFF 100%);

  /* var */
  --color-op-primary: var(--color-primary);
  --color-op-secondary: var(--color-green1);
  --color-op-accent: var(--color-green2);
  --color-border-primary: var(--color-primary);
  --color-text1: #000000;
  --color-text2: #9d95b5;
  --color-text3: #3c3c3c;
  --color-text4: #6c6c6c;
  --color-text5: #9c9c9c;
  --color-text6: #090909;
  --color-text-tip: var(--color-primary);
  --color-rise: #05c497;
  --color-fall: #fd4141;
  --color-bg1: #f6f7fd;
  --color-bg2: #fafafa;
  --color-bg3: #f4f4f4;
  --color-border1: #cecece;
  --color-border2: #eeeeee;
  --color-assist1: #f2f3f6;
  --color-assist2: #fe2c55;
  --color-bg-assist2: rgba(254, 44, 85, 0.1);

  /*utils*/
  --spacing-content: 0.875rem 24px;
  --text-h1: 28px;
  --text-h1--line-height: 36px;
  --text-h1--font-weight: 600;
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: oklch(20% 0.042 265.755);
  --color-neutral: oklch(27% 0.041 260.031);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 2rem;
  --radius-field: 8px;
  --radius-box: 8px;
  /* --size-selector: 0.25rem; */
  --size-selector: 0.1875rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;

  /* custom */
  --color-primary: #6e2afe;
  --color-primary2: #a93aff;
  --color-primary-content: var(--color-white);
  --color-secondary: #f2f3f6;
  --color-secondary-content: #323232;
  --color-accent: rgba(162, 89, 255, 0.5);
  --color-accent-content: var(--color-white);
  --color-error: var(--color-fall);
}

html,
body {
  color: var(--color-text1);
  background-color: var(--color-white);
  @apply no-scrollbar;
}

.layout {
  background-color: var(--color-white);
}


.collapse-content,
.collapse-title {
  padding-left: 0;
}
.collapse.collapse-plus:not(.collapse-close) > input:is([type="checkbox"], [type="radio"]):checked ~ .collapse-title:after {
    content: url("/images/common/close.svg");
}

.collapse-plus > .collapse-title::after {
  top: 6px;
  width: 30px;
  display: inline-block;
  content: url("/images/common/open.svg");
}
