@import "tailwindcss";
@import "tw-animate-css";
@theme {}
@custom-variant h5 (@media (max-width: 768px));


@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
  root: ":root";
  include:;
  exclude:;
  prefix:;
  logs: true;
}

html {
  /* NOTE: PC = 16px/(1920px/100vw) */
  font-size: clamp(12px, 0.833333vw, 48px);
  /* NOTE: H5 = 16px/(375px/100vw) */
  @media screen and (max-width: 767px) {
    font-size: clamp(10px, 4.266666vw, 48px);
  }
}

body {
  font-size: 1rem;
}
