@import "tailwindcss";
@import "tw-animate-css";

/* is PC */
@custom-variant pc (@media (hover: hover) and (pointer: fine));
/* screen >= 768 and is PC */
@custom-variant md-pc (@media (min-width: 768px) and  (hover: hover) and (pointer: fine));
@custom-variant not-md-pc (
  @media (max-width: 767px), 
  @media (min-width: 768px) and (hover: none), 
  @media (min-width: 768px) and (pointer: coarse)
);

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
  logs: true;
}

html {
  height: 100%;
  /* NOTE: H5 = 16px/(390px/100vw) */
  font-size: clamp(10px, 4.06vw, 32.7PX);

  /* NOTE: PC = 16px/(1920px/100vw) */
  /* font-size: clamp(12PX, 0.833333vw, 48px); */
  /* NOTE: H5 = 16px/(375px/100vw) */
  /* @media screen and (max-width: 767px) { */
  /* font-size: clamp(10PX, 4.266666vw, 48px); */
  /* } */
  @media (min-width: 768px) and  (hover: hover) and (pointer: fine){
    font-size: clamp(10px, 4.266666vw, 19.1146PX);
  }
}

body {
  height: 100%;
  font-size: 1rem;
}

@import "../styles/core.css";

@font-face {
  font-family: "ysbth";
  src: url("/fonts/ysbth.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
